﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="h3 display-1">Oops! you don't access here</div>
    <div>Would you prefer to <a asp-controller="Home" asp-action="LogOut">login in as someone else</a>?</div>
</div>

