﻿@model CourseLibrary.Client.Models.OrderCourseViewModel

<div class="container">
    <div class="text">This is the address in our record: </div>
    <div class="text text-info">@Model.Address</div>
</div>

